<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reinfControle">
            <h2><span jhiTranslate="gsfappelApp.reinfControle.detail.title">Reinf Controle</span> {{reinfControle.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gsfappelApp.reinfControle.dtIni">Dt Ini</span></dt>
                <dd>
                    <span>{{reinfControle.dtIni}}</span>
                </dd>
                <dt><span jhiTranslate="gsfappelApp.reinfControle.dtFim">Dt Fim</span></dt>
                <dd>
                    <span>{{reinfControle.dtFim}}</span>
                </dd>
                <dt><span jhiTranslate="gsfappelApp.reinfControle.tpAmbiente">Tp Ambiente</span></dt>
                <dd>
                    <span>{{reinfControle.tpAmbiente}}</span>
                </dd>
                <dt><span jhiTranslate="gsfappelApp.reinfControle.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="reinfControle.empresa">
                        <a [routerLink]="['/empresa', reinfControle.empresa?.id, 'view']">{{reinfControle.empresa?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gsfappelApp.reinfControle.status">Status</span></dt>
                <dd>
                    <div *ngIf="reinfControle.status">
                        <a [routerLink]="['/reinf-status-controle', reinfControle.status?.id, 'view']">{{reinfControle.status?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reinf-controle', reinfControle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
